# CONSTRUCCION DE CARTERA FINANCIERA

### LIBRERIAS

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### LECTURA DE BASE DE DATOS

In [37]:
data_route='../data/'

In [38]:
expenses_filename='expenses.csv'
incomes_filename='incomes.csv'

In [39]:
expenses=pd.read_csv(data_route+expenses_filename)
incomes=pd.read_csv(data_route+incomes_filename)

In [40]:
incomes

        DATE  AMOUNT  CATEGORY THIRD-PARTY DESCRIPTION
0  4-10-2022    1200  variable      GAD-AA      sueldo

In [41]:
incomes.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THIRD-PARTY', 'DESCRIPTION'], dtype='object')

#### Muestra las columnas que tiene el csv

In [45]:
incomes["DATE"]

0    4-10-2022
Name: DATE, dtype: object

#### Muestra la localizacion de algun dato en especial

In [47]:
incomes.loc[0]["DESCRIPTION"]

'sueldo'

#### Agrega una nueva fila al csv

In [50]:
n=len(incomes)
print(n)

1

In [51]:
incomes.loc[n]=['04-10-2022',1500,'variable','GAD-COT','Pago de trabajo']

In [52]:
incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY      DESCRIPTION
0   4-10-2022    1200  variable      GAD-AA           sueldo
1  04-10-2022    1500  variable     GAD-COT  Pago de trabajo

#### Suma todas las cantidades de la columna deseada(Tiene que ser numeros)

In [54]:
incomes['AMOUNT'].sum()

2700

In [111]:
class fwallet:
    def __init__(self,inputs):
        self.inputs=inputs
        self.incomes=pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses=pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])
        
       
        
    ### Actions to perform ###
    
    #Add income to database
    def add_income(self):
        date=input("Date:  ")
        amount=input("Amount:")
        category=input("Category: ")
        third_party=input("Third_party: ")
        description=input("Description: ")
        
        new_income=[date,amount,category,third_party,description]
        
        n=len(self.incomes)
        self.incomes.loc[n]= new_income
        
        #sobreescribe el archivo de la base de datos csv
        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'],index=False)
    #Add expense to database
    def add_expense(self):
        date=input("Date:  ")
        amount=input("Amount:")
        category=input("Category: ")
        third_party=input("Third_party: ")
        description=input("Description: ")
        
        new_expense=[date,amount,category,third_party,description]
        
        n=len(self.expenses)
        self.expenses.loc[n]= new_expense
        
        #sobreescribe el archivo de la base de datos csv
        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'],index=False)
        

    #Calculate the total income
    def total_income(self):
        total=self.incomes['AMOUNT'].sum()
        return total
    
    #Calculate the total expenses
    def total_expenses(self):
        total=self.expenses['AMOUNT'].sum()
        return total
    
    #Calculate balance=income - expense
    def balance(self):
        balance=self.total_income()-self.total_expenses()
        return balance
    
    #Create financial report using the functions above
    def financial_report(self):
        print('\n'+'Financial Report'+'\n')
        print(f'Total income: ${self.total_income()}')
        print(f'Total expense: ${self.total_expenses()}')
        print(f'Balance: ${self.balance()}')
        if self.balance()>0:
            print('Dont forgen to save some of your left-off money! great job!')
        else:
            print('Be responsible with your finance, and find a low rate loan!')

In [112]:
inputs={
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [113]:
cartera=fwallet(inputs)

In [101]:
#cartera.add_expense()

In [114]:
cartera.financial_report()

Financial Report

Total income: $2200
Total expense: $230
Balance: $1970
Dont forgen to save some of your left-off money! great job!